@media only screen and (max-width: 320px){
    .header{
        height: 45px;
        padding-left: 16px;
        padding-right: 14px;
    }
    .header_logo{
        width: 48px;
        height: 18px;
    }
    .header_city_button{
        width: 167px;
        height: 27px;
    }

    .header_city_button_text{
        font-size: 18px;
    }
    
    .header_city_button_icon{
        width: 24px;
        height: 24px;
    }

    .stock{
        height: 726px;
        flex-direction: column;
        padding-right:0px;
        padding-left: 0px;

    }
    .stock_description{
        width: 296px;
        height: 321px;
        margin-top: 24px;
        margin-left: 16px;
    }

    .stock_description_text{
        font-size: 18px;
    }

    .stock_description_slogan{
        font-size: 36px;
        margin-top: 40px;
        margin-bottom: 16px;
    }

    .stock_description_button{
        width: 201px;
        height: 48px;
        font-size: 18px;
        margin-top: 40px;
    }

    .stock_boss{
        width: 316px;
        height: 333px;
        padding-top: 48px;
    }

    .features__body{
        margin-left: 16px;
        padding-top: 72px;
        width: 288px;
    }

    .features__row{
        font-size: 18px;
        flex-direction: column;
        margin-top: 40px;
    }

    .features__column{
        margin-bottom: 32px;
    }

    .about__title{
        font-size: 24px;
    }

    .about__description{
        font-size: 18px;
    }


    .promocode__body{
        margin-left: 16px;
        flex-direction: column;
    }

    .promocode__title{
        font-size: 24px;
        margin-top: 42px;
        visibility: hidden;
    }

    .promocode__title:before{
        position: absolute;
        content: "Оставьте номер и";
        visibility: visible;
        width: 196px;
    }

    .promocode__title:after{
        position: absolute;
        content: "1 ТБ - ваш";
        visibility: visible;
        margin-left: -15px;
        color:#48CCFD;
    }

    .promocode__confirmation{
        margin-top: 700px;
    }

    .promocode__row{
        margin-left: 0px;
        margin-top: 150px;
        position: absolute;
    }
    .quest-item{
        display: block;
    }
    .quest-item__number{
        font-size: 24px;
        margin-bottom: 16px;
    }
    .quest-item__description{
        margin-left: 0px;
        font-size: 18px;
        width: auto;
    }

    .registration-form{
        width: 288px;

    }

    .registration-form__status{
        width: 0;
        height: 0;
        visibility: hidden;
        position: absolute;
    }



    .tariff__body{
        margin-left: 16px;
        padding-top: 72px;
        flex-direction: column;
    }

    .tariff-description{
        visibility: hidden;
    }

    .tariff-description:before{
        content: "Перейдите в магазин на страничку активации, введите ваш промокод. Готово! Теперь вы получите 1 ТБ на ваш телефон при подключении тарифа «Мой онлайн+».";
        visibility: visible;
        margin-bottom: 0px;

    }

    .tariff-button{
        margin-top: 200px;
        margin-left: 41px;
    }

    .photo-phone{
        width: 230px;
        height: 239px;
        position: absolute;
        margin-top: 220px;
        margin-bottom: 0px;
    }


    .footer-top{
        margin-left: 16px;
        margin-right: 16px;
        padding-top: 72px;
    }

    .footer-bottom{
        margin-left: 16px;
        margin-right: 16px;
    }
    .footer-top__networks-item{
        width: 24px;
        height: 24px;
    }

    .footer-bottom__chulakov{
        position: absolute;
        visibility: hidden;
    }


}